var filter = {
    getDate: function (date, splitStr) {
        return date + " " + splitStr;
    },
    getLogoByTenancyName: function (tenancyName) {
        switch (tenancyName) {
            case "蜂鸟屋":
                return "http://h.fengniaowu.com/loan/image/logo/fengniaowu.png";
            case "魔族国际青年社区":
                return "http://h.fengniaowu.com/loan/image/logo/mozu.png";
            case "青年汇":
                return "http://h.fengniaowu.com/loan/image/logo/qingnianhui.png";
            case "青橙公寓":
                return "http://h.fengniaowu.com/loan/image/logo/logoerr.png";
            case "源涞国际":
                return "http://h.fengniaowu.com/loan/image/logo/yuanlai.png";
            case "康豆公寓":
                return "http://h.fengniaowu.com/loan/image/logo/kangdou.png";
            case "寓居青年之家":
                return "http://h.fengniaowu.com/loan/image/logo/yuju.png";
            case "安之美蜗生活":
                return "http://h.fengniaowu.com/loan/image/logo/meiwo.png";
            case "蜂鸟屋试用":
                return "http://h.fengniaowu.com/loan/image/logo/fengniaowu.png";
            case "易驻公寓":
                return "http://h.fengniaowu.com/loan/image/logo/yizhu.png";
            case "上海唐源":
                return "http://h.fengniaowu.com/loan/image/logo/logoerr.png";
            case "NeXHome轻奢公寓":
                return "http://h.fengniaowu.com/loan/image/logo/nex.png";
            case  "北京银行":
                return "http://h.fengniaowu.com/loan/image/logo/logoerr.png";
            case "一方天地公寓":
                return "http://h.fengniaowu.com/loan/image/logo/yifangtiandi.png";
            case "蜜空间":
                return "http://h.fengniaowu.com/loan/image/logo/mikongjian.png";
            case "索纳特酒店公寓":
                return "http://h.fengniaowu.com/loan/image/logo/suonatel.png";
            case "索纳特酒店公寓(曹彩实业)":
                return "http://h.fengniaowu.com/loan/image/logo/suonatel.png";
            case "乐屋青年汇":
                return "http://h.fengniaowu.com/loan/image/logo/lewu.png";
            case "寓居服务公寓":
                return "http://h.fengniaowu.com/loan/image/logo/yujufuwu.png";
            case "安之公寓":
                return "http://h.fengniaowu.com/loan/image/logo/anzhigongyu.png";
            case "众寓时代光公寓":
                return "http://h.fengniaowu.com/loan/image/logo/zhongyu.png";
            default:
                return "http://h.fengniaowu.com/loan/image/logo/logoerr.png";
        }
    },
    formatYYYMMDD: function (date) {
        return date.substring(0, 10);
    },
    formatDeviceType: function (deviceType) {
        switch (deviceType) {
            case "ColdWaterMeter":
                return "冷水";
            case "HotWaterMeter":
                return "热水";
            case "ElectricMeter":
                return "电表";
            case "GasMeter":
                return "气表";
            default:
                return "未知设备";
        }
    },
    formatRoomState: function (roomState) {
        switch (roomState) {
            case "Vacancy":
                return "空置";
            case "LongRent":
                return "长租";
            case "ShortRent":
                return "短租";
            case "DailyRent":
                return "日租";
            default:
                return "其他";
        }
    },
    formatCurrentRead: function (currentRead) {
        currentRead = Number(currentRead * 0.01);
        return currentRead.toFixed(2);
    }
}

module.exports = {
    getDate: filter.getDate,
    getLogoByTenancyName: filter.getLogoByTenancyName,
    formatYYYMMDD: filter.formatYYYMMDD,
    formatDeviceType: filter.formatDeviceType,
    formatRoomState: filter.formatRoomState,
    formatCurrentRead: filter.formatCurrentRead
}
